<!DOCTYPE html>
<html>

<head>
    <title>Live Data</title>
</head>
<body>
    <h1>Live Data Updates</h1>
    <div id="data"></div>
    
    <script>
        const socket = new WebSocket('ws://' + window.location.host + '/ws/live_data/');
        
        socket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.getElementById('data').innerText = data.message;
        };
        
        socket.onclose = function(e) {
            console.error('WebSocket closed unexpectedly');
        };
    </script>
</body>
</html>