body {
  background-color: rgb(242, 246, 250);
}

#app-header {
  background-color: #ffffff;
  border-bottom: 2px solid rgb(220, 232, 245);
  height: 80px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 750px;
  z-index: 1000;
}

#app-header-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 205px;
  height: 100%;
}

#app-header-logo i {
  display:none;
  color: slategray;
  font-size: 24px;
}

#app-header-options {
  position: absolute;
  top: 0;
  right: 446px;
  height: 100%;
  left: 205px;
  min-width: 350px;
}

#app-header-options ul {
  position: absolute;
  right: 0;
  top: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#app-header-options ul::after {
  clear: both;
}

#app-header-options li {
  float: left;
  margin-left: 8px;
}

#app-header-options select {
  display:inline;
  margin-right: 4px;
  width: 300px;
}

#app-header-timezone {
  position: absolute;
  right: 326px;
  top: 0;
  height: 100%;
  width: 120px;
}

#app-header-timezone i {
  color:cornflowerblue;
  font-size: 28px;
  margin-right: 8px;
}

#app-header-timezone p {
  color:#aaaaaa;
  font-size: 18px;
  font-weight: bold;
  line-height: 32px;
  vertical-align: middle;
  margin-top: 18px;
  text-align: center;
}

#app-header-account {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 324px;
}

#app-header-account button {
  position: absolute;
  height: 48px;
  text-align: left;
  left: 12px;
  top: 12px;
  right: 12px;
  width: 300px;
  padding-left: 50px;
}

#app-header-account button:hover {
  border: 1px solid lightgray;
}

#app-header-account button::after {
  position: absolute;
  right: 8px;
  top: 22px;
}

#app-header-account button:focus {
  box-shadow: none;
  border: 1px solid lightgray;
}

#app-header-account button img {
  position: absolute;
  background-color: lightgray;
  height: 36px;
  top: 5px;
  left: 5px;
  width: 36px;
}

#app-header-divider {
  background-color: lightgray;
  position: absolute;
  right: 324px;
  top: 12px;
  bottom: 12px;
  width: 2px;
}

#app-left-content {
  color: white;
  background-color: rgb(0, 40, 85);
  border-right: 2px solid rgb(220, 232, 245);
  height: 100%;
  left: 0;
  position: fixed;
  top: 80px;
  width: 100px;
}

#app-left-content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app-left-content li {
  font-size: 14px;
  height: 85px;
  padding-top: 5px;
  text-align: center;
  width: 100%;
}

#app-left-content li.active {
  background-color: rgb(0, 57, 122);
}

#app-left-content li i {
  font-size: 32px;
}

#app-left-content li a {
  color: rgb(220, 232, 245);
  display: block;
  text-decoration: none;
}

#app-left-content li.active a {
  color: white;
}

#app-left-content li a:hover {
  color: white;
}

#app-left-content li:last-child {
  position: absolute;
  bottom: 80px;
}

#app-right-content {
  height: 100%;
  margin-left: 100px;
  margin-top: 80px;
  padding: 16px;
  min-width: 750px;
}

#app-footer {
  height: 46px;
  width: 160px;
  margin: 16px auto 0px auto;
}

@media only screen and (max-width: 1199px) {

  #app-header-logo i {
    display: inline;
  }

  #app-header-options {
    right: 206px;
  }

  #app-header-options select {
    max-width: 100px;
    width: auto;
  }

  #app-header-timezone {
    right: 86px;
  }

  #app-header-divider {
    right: 84px;
  }

  #app-header-account {
    width: 84px;
  }

  #app-header-account button {
    width: 46px;
  }
  
  #app-header-account button .user-name {
    display: none;
  }

  #app-left-content {
    position: relative;
    width: 100%;
    height: 800px;
  }

  #app-left-content li:last-child {
    bottom: auto;
  }

  #app-right-content {
    margin-left: 0;
  }

}